body{
  background: none;
  background: rgb(255,119,0);
  background: linear-gradient(45deg, rgba(255,119,0,1) 0%, rgba(0,202,255,1) 100%);
}
.img{
  width: 250px;
  height: 250px;
  object-fit: cover;
}
h2{
  background: none;
  background-color: purple;
  width: fit-content;
  color: aqua;
}
h3{
  background: none;
  background-color: purple;
  width: fit-content;
  color: orange;
}
h4{
  background: none;
  background-color: purple;
  width: fit-content;
  color: red;
}
p{
  background: none;
  background-color: purple;
  width: fit-content;
  color: aquamarine;
}
.p1{
  background: none;
  background-color: purple;
  width: fit-content;
  color: lightblue;
}